<main id="siteContent" class="site-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card content">
                <div class="card-body">
                    <div class="row">
                        <mat-card class="col-md-8">
                            <img mat-card-image src="../../../assets/images/Dashboard.JPG" alt="Dashboard">                            
                        </mat-card>
                        <mat-card class="col-md-4" style="text-align: center;">                          
                            <mat-card-content>
                                <div class="margin-btn">
                                    <button class="btn" (click)="clickLogin()">Login</button>
                                </div>
                                <div class="margin-btn">
                                    <button class="btn" (click)="clickCadastro()" >Experimente 15 dias grátis</button>
                                </div>
                                <div class="margin-btn">
                                    <p>
                                        Acompanhe de maneira simples e segura todos os dados importantes para seu controle
                                        financeiro.
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>