/* Import other CSS files */
@import url('../css/bootstrap.min.css');
@import url('../css/fonts.css');
@import url('../css/slick.css');

/* Import other SCSS files */
@import 'fonts';
@import '_reset';
@import '_variables';

/* Import pages SCSS files */
@import '_page-home';
@import '_page-professores';
@import '_page-buscar';
@import '_page-login';
@import '_page-cadastro';

/* Import elements SCSS files */
@import '_generals';
@import '_header';
@import '_footer';

/* Body */ 
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: white;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	text-rendering: optimizeSpeed;
}
* {
	outline: none;
}