<main id="siteContent" class="site-content">
    <div class="d-flex justify-content-center">
        <form name="dadosForm" [formGroup]="dadosForm" (ngSubmit)="clickGravar()" style="width: 600px;">
            <div class="form-group">
                <h2 class="form-title d-flex justify-content-center">Cadastre e aproveite 15 dias grátis</h2>
            </div>
            <mat-form-field class="card-input-text col-md-12">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Nome" required>
                <mat-error *ngIf="submitted && dadosForm.get('nome').hasError('required')">
                    Campo Nome é Obrigatório!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" placeholder="E-mail" required>
                <mat-error
                    *ngIf="submitted && dadosForm.get('email').hasError('email') && !dadosForm.get('email').hasError('required')">
                    Campo E-mail é Inválido!
                </mat-error>
                <mat-error *ngIf="submitted && dadosForm.get('email').hasError('required')">
                    Campo E-mail é Obrigatório!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" [textMask]="{mask: cpfMask}" placeholder="CPF" required>
                <mat-error *ngIf="submitted && dadosForm.get('cpf').hasError('required')">
                    Campo CPF é Obrigatório!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label style="padding-left: 50px;">Celular</mat-label>
                <input id="celular" matInput ng2TelInput ng-intl-tel-input [textMask]="{mask: celularmask}"
                    [ng2TelInputOptions]="{initialCountry: 'br'}"
                    (countryChange)="onCountryChangeCel($event, 'celular')" formControlName="celular" required />
                <mat-error *ngIf="submitted && dadosForm.get('celular').hasError('required')">
                    Campo Celular é Obrigatório!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label style="padding-left: 50px;">Telefone</mat-label>
                <input id="telefone" matInput ng2TelInput ng-intl-tel-input [textMask]="{mask: telefonemask}"
                    [ng2TelInputOptions]="{initialCountry: 'br'}" formControlName="telefone"
                    (countryChange)="onCountryChangePhone($event, 'telefone')" />
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="senha" type="password" placeholder="Senha" required>
                <mat-error *ngIf="submitted && dadosForm.get('senha').hasError('required')">
                    Campo Senha é Obrigatório!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="card-input-text col-md-6">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput formControlName="confirmar" type="password" placeholder="Confirmar Senha" required>
                <mat-error *ngIf="submitted && dadosForm.get('confirmar').hasError('required')">
                    Campo Confirmar Senha é Obrigatório!
                </mat-error>
            </mat-form-field>
            <div class="div-btn col-md-12">
                <button class="btn">Cadastrar</button>
            </div>
        </form>
    </div>
</main>