<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card content">
      <div class="card-body">
        <div class="col-md-12 border-title">
          <label class="card-title title-center">Dados de {{dateTitle}}</label>
      </div>
        <div class="row">
          <div class="col-md-4">
            <app-card-proposta-mes [viewDate]="viewDate"></app-card-proposta-mes>
          </div>
          <div class="col-md-4">
            <app-card-comissao-mes [viewDate]="viewDate"></app-card-comissao-mes>
          </div>
          <div class="col-md-4">
            <app-card-aniversario-mes [viewDate]="viewDate"></app-card-aniversario-mes>         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>