<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card content">
      <div class="card-body">  
          <div class="col-md-4">
            <app-aniversario [(view)]="view" [(viewDate)]="viewDate">
            </app-aniversario>
            <mwl-calendar-day-view [(viewDate)]="viewDate" [events]="events" [hourSegments]="1" [dayStartHour]="0"
              [dayEndHour]="totalAniversario" [refresh]="refresh">
            </mwl-calendar-day-view>
          </div>
       
      </div>
    </div>
  </div>
</div>