<div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card content">
        <div class="card-body">          
            <div class="col-md-12">
              <app-calendario [(view)]="viewWeek" [(viewDate)]="viewDateWeek">
              </app-calendario>
              <mwl-calendar-week-view [viewDate]="viewDateWeek" [events]="eventsWeek" [refresh]="refreshWeek">
              </mwl-calendar-week-view>
            </div>  
        </div>
      </div>
    </div>
  </div>