.form-title{
    color: black;
    font-size: x-large;
    font-weight: 600;   
    margin-bottom: 30px;
    margin-top: 50px;
}

.form-label{
    color:black;
    font-weight: bold;
    margin-left: 5px; 
    margin-bottom: -10px;    
}

.form-control{   
    font-size: small;
    height: 30px;
    margin-left: 15px;
    width: 220px;
}

.login-btn {    
    width: 220px; 
}
